/* CSS reset */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* img{max-width:100%; max-height:100%;} */
img {
  max-width: 180%;
}

/* style */
body {
  /*border: 1px solid red;*/
  background: #eee;
}

.globalHeader {
  margin: 20px; /* 居中 */
}

@media (min-width: 500px) {
  .globalHeader {
    margin: 60px 0 100px;
  }
}

.searchForm {
  display: flex; /* 用 flex 布局实现左右排列 */
  justify-content: space-between; /* space 在 input 和 button 之间 */
}

@media (min-width: 500px) {
  .searchForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.searchForm > input {
  width: 100%; /* 把 input 变宽 */
  margin-right: 10px; /* input 和 button 之间加空隙 */
  height: 40px; /* 给 input 设置高度，button 会跟着变 */
  padding: 0 10px; /* 左右设置 padding */
  border: 1px solid #ddd;
  border-radius: 4px; /* input 默认有 border（丑），先删掉或给个新 border，再设置成圆角 */
}
.searchForm > button {
  white-space: nowrap; /* 让 button 里的字不要换行 */
  padding: 0 28px;
  border: none;
  border-radius: 4px; /* button 默认有 border（丑），先删掉，再设置成圆角 */
  background: #3978c2;
  color: white; /* 设置文字颜色 */
  font-size: 16px; /* 设置文字字体大小 */
}

.globalMain {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.siteList {
  margin: 20px;
  display: flex; /* 用 flex 布局实现左右排列 */
  flex-wrap: wrap; /* 让内容换行 */
  justify-content: space-between;
}

@media (min-width: 500px) {
  .siteList {
    margin-left: 0;
    margin-right: 0;
    margin-right: -25px;
    justify-content: flex-start;
  }
}

.siteList > li {
  margin-bottom: 10px; /* li 之间上下加空隙 */
}

@media (min-width: 500px) {
  .siteList > li {
    margin-right: 25px;
  }
}

.siteList .site {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center; /* 用 flex 布局 → 居中操作 */
  flex-direction: column; /* 用 flex 布局实现上下排列 */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center; /* 用 flex 布局 → 居中操作 */
  font-size: 64px;
  text-transform: uppercase;
}
.siteList .site .link {
  font-size: 14px;
  margin-top: 4px; /* 加个与 logo 之间的间距 */
}

.siteList .site .close {
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
  cursor: default;
}

.siteList .site:hover .close {
  display: block;
}

.siteList .addButton {
  border: 1px solid #ddd;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background: white;
}
.siteList .addButton .icon-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteList .addButton .icon {
  width: 56px;
  height: 56px;
}
.siteList .addButton .text {
  font-size: 14px;
  margin-top: 4px; /* 加个与 logo 之间的间距 */
}
